/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
/* common style */
body {
  font-family: "Poppins", sans-serif;
  background-color: #f3f1ff;
  margin: 0;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 90px;
}
/*-------------------------
            navabr start
-------------------------------*/
header {
  background-color: #562eff;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-around;
  position: fixed;
  top: 0;
}
.logo {
  display: flex;
  align-items: center;
}

.logo p {
  color: white;
  margin-left: 5px;
}
.logo img {
  height: 50px;
  width: 40px;
}
.nav-menu {
  display: flex;
  align-items: center;
}
.nav-menu a {
  text-decoration: none;
  color: white;
  margin-right: 20px;
}
/* ------------------------
navbar end
-------------------------- */
.container {
  background-color: #ffffff;
  width: 870px;
  padding: 30px;
  margin-top: 21px;
  border-radius: 5px;
}
hr {
  border: 1px solid #d1d1d1;
  margin-bottom: 27px;
}

/* ------------------------------------------------
------------------- top players style start 
------------------------------------------------------*/
.top-players {
  margin-bottom: 30px;
}
.section-title {
  color: #562eff;
  font-size: 24px;
  margin-top: 3px;
}
.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 30px;
}
.player {
  display: flex;
  align-items: center;
}
.player img {
  height: 56px;
  width: 56px;
}
.player-name {
  margin-left: 16px;
  font-size: 17px;
}
/* -----------------------------------
top blog  start 
---------------------- ---------------*/
.blogs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 26px;
}
.blog {
  display: flex;
}
.blog .thumbnail img {
  width: 177px;
  height: 117px;
}
.blog-info {
  margin-left: 16px;
}
.blog-title {
  font-size: 20px;
}
.blog-author {
  color: #9f9f9f;
  font-size: 16px;
}
.blog-author a {
  text-decoration: none;
  color: #562eff;
}
/*--------------------------------- 
        courses style 
----------------------------- */
.courses {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 10px;
}
.course {
  width: 252px;
  height: 269px;
  box-shadow: 0px 5.34229px 13.3557px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  /* margin-left: 12px;
  margin-right: 12px; */

  /* padding: 12px; */
  /* padding-left: 14px;
  padding-top: 13px;
  padding-right: 0px;
  padding-bottom: 16px; */
  padding: 13px 0;
}
.course .course-banner img {
  width: 224px;
  height: 104px;
  margin-left: 12px;
  margin-right: 16px;
}
.course-detail {
  margin-left: 12px;
  margin-right: 16px;
}
.course-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.fa-star {
  font-size: 12px;
}
.fa-star.filled {
  color: #ffc014;
}
.fa-star.empty {
  color: #aeaeae;
}
.course-duration {
  position: relative;
  color: #ff4a60;
  font-size: 13px;
  background-color: #ff4a5f5d;
  border-radius: 14px;
  margin-right: 0px;
  padding: 2px 5px;
}
